<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>{{ config.name }}: {%if title%}{{title}}{%endif%}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="{{config.url}}/favicon.ico" type="image/vnd.microsoft.icon" />

		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store" />
		<meta name="google" content="notranslate" />

		<style>
			#flash-container{
				    position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;

					height: 100%;
					width: 100%;
			}
			#content{
				width: 300px;
				margin: 0 auto;
			}
			body{
				font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
				background-color: #000;
				font-size: .7em;

				margin:0;
				padding:0;
			}

			#cadre_pub {
			position: absolute;
			top: 0px;
			left: 50%;
			transform: translateX(-50%);

			z-index: 99999;
		
			width: 740px;
			height: 191px;
			
			background-image: url(cadre_pub.png);

			transition: top 1s;
		}
		#pub {
			margin-top: 3px;
			margin-left: 6px;
		}
		#pub_close {
			margin-top: 77px;
			margin-left: 10px;
			color: #fff;
			font-size: 11px;
			line-height: 11px;
		}
		</style>
	</head>
	<body>
<div id="flash-container">
<object width="100%" height="100%" id="flash-container" type="application/x-shockwave-flash" data="{{client.Wibboswf}}" style="visibility: visible;">
<param name="base" value="{{client.R_64}}">
<param name="allowScriptAccess" value="always">
<param name="menu" value="false"><param name="wmode" value="opaque">
<param name="flashvars" value="client.allow.cross.domain=0&amp;client.notify.cross.domain=1&amp;connection.info.host={{client.Ip}}&amp;connection.info.port={{client.Port}}&amp;site.url=//{{client.UrlWibbo}}&amp;url.prefix=//{{client.UrlWibbo}}&amp;client.reload.url=//{{client.UrlWibbo}}/client&amp;client.fatal.error.url=//{{client.UrlWibbo}}/client?type=fatal&amp;client.connection.failed.url=//{{client.UrlWibbo}}/client?type=failed&amp;logout.url=//{{client.UrlWibbo}}/logout.php&amp;logout.disconnect.url=//{{client.UrlWibbo}}/client?type=erreur&amp;external.variables.txt={{client.Vars}}&amp;external.texts.txt={{client.Texts}}&amp;productdata.load.url={{client.Producdata}}&amp;furnidata.load.url={{client.Furnidata}}&amp;sso.ticket={{auth_ticket}}&amp;processlog.enabled=0&amp;client.starting={{client.Message}}.&amp;flash.client.url={{client.R_64}}&amp;user.hash=&amp;has.identity=0&amp;flash.client.origin=popup&client.starting=Chargement...&client.starting.revolving=Nous faisons avancer la science/Chargement des messages amusants...Veuillez patienter./Ça te dirait des frites avec ça ?/Suis le canard jaune./Le temps est juste une illusion./On est bientôt arrivés ?!/J'adore ton t-shirt./Regarde à gauche, regarde à droite, cligne des yeux deux fois et voilà !/Ce n'est pas toi, c'est moi./Chuut ! J'essaie de me concentrer là-haut./Chargement de l'univers pixélisé.">
</object>
    </div>
<div id="client-ui"></div>
	</body>
</html>