<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{{ config.name }}: Condition d'utilisation</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="css/global.css?release=1">

  </head>

  <body>
  <div class="container">
  <h1 class="logo" style="position: relative;top:0;"></h1>
    <div class="box" style="padding:15px">
      <div class="clear" style="padding:10px 0 0 0;border-top:dashed 1px #ccc;margin-top:10px;"></div>
      <div id="process-content">
      <div id="terms" class="box-content">
      <div class="tos-header"><center><size="+1"><b>CONDITIONS D'UTILISATION</b></size></center></div> 
      
Bienvenu(e) sur le site Internet <a href="//wibbo.me">Wibbo</a> (ci-apr&egrave;s d&eacute;sign&eacute; le «Site »). <br/>
<br/>
Nous vous remercions de lire attentivement l'ensemble des dispositions ci-dessous qui r&eacute;gissent l'utilisation du Site (ci-apr&egrave;s d&eacute;sign&eacute;es les "Conditions d'Utilisation").<br/>
<br/>
<b>L’acc&egrave;s au Site et aux services propos&eacute;s sont r&eacute;serv&eacute;s aux personnes âg&eacute;es de plus de 13 ans.</b><br>
<br>
<p style="font-size:17px;">Un monde s&eacute;curis&eacute; et tr&egrave;s appr&eacute;ci&eacute; des adolescents: Wibbo</p><br/>
Entre lieux publics ou se rencontrent tous types de joueurs et apparts priv&eacute;s tr&egrave;s hypes, la diversit&eacute; d'Wibbo est compl&egrave;te et notre renomm&eacute;e en est le plus significatif t&eacute;moignage.
<br/>
<br/>
Si vous avez moins de 18 ans, vous devez demander &agrave; vos parents ou tuteurs de vous expliquer tous les termes ou expressions utilis&eacute;s ci-dessous que vous ne comprenez pas et valider avec eux votre d&eacute;cision d'accepter l'ensemble des Conditions d'Utilisation.</b> <br/>
<br/>
<b>1. Charges et responsabilit&eacute;s d'Wibbo</b><br><br>
<b>1.1</b></b> Wibbo H&ocirc;tel utilise les ressources de Sulake Corporation LTD et offre &agrave; ses joueurs une alternative majoritairement gratuite &agrave; Habbo H&ocirc;tel, d&eacute;velopp&eacute; par cette m&ecirc;me soci&eacute;t&eacute;. Le but de la mise en ligne de cet h&ocirc;tel parall&egrave;le est de pouvoir offrir une exp&eacute;rience de jeu enrichie par une gestion diff&eacute;rente et
une monnaie virtuelle obtenue gratuitement, &agrave; l'instar d'Habbo H&ocirc;tel. Wibbo H&ocirc;tel n'a pas de but lucratif et n'h&eacute;site pas &agrave; d&eacute;penser la majeure partie des b&eacute;n&eacute;fices faits &agrave; l'am&eacute;lioration de la qualit&eacute; de jeu.
<br><br>
<b>1.2</b> Wibbo H&ocirc;tel dispose d'une boutique permettant &agrave; ses utilisateurs de profiter d'avantages en jeu, mais s'en dispenser n'alterne en aucun cas la qualit&eacute; de jeu. Tous les achats effectu&eacute;s sur
la boutique virtuelle d'Wibbo permettent d'am&eacute;liorer nos infrastructures utilisant une technologie connue et largement populaire, payer les noms de domaines et les serveurs de jeu. Les membres qui composent notre &eacute;quipe ne sont donc pas r&eacute;mun&eacute;r&eacute;s pour les services
qu'ils proposent de façon b&eacute;n&eacute;vole. Toutes les transactions d'achat de jetons effectu&eacute;es en boutique sont v&eacute;rifi&eacute;es par un prestataire ind&eacute;pendant: les remboursment, hors panne technique de nos services web, s'effectuent donc aupr&egrave;s d'eux. Les utilisateurs de - de 13 ans ne peuvent pas acheter des jetons sur Wibbo sans l'accord de leurs parents.
<br><br>
<b>1.3</b> Toute r&eacute;clamation envers Wibbo H&ocirc;tel d'ayants-droits et repr&eacute;sentants de Sulake Corporation LTD se fera apr&egrave;s un contact avec le cr&eacute;ateur d'Wibbo H&ocirc;tel clair et explicite. Wibbo H&ocirc;tel se r&eacute;serve le droit de ne pas r&eacute;pondre &agrave; des appels ou des mails pr&eacute;ventifs lorsque ceux-ci ne s'effectuent pas par l'interm&eacute;diaire du fournisseur d'acc&egrave;s internet du propri&eacute;taire du site, toujours dans le soucis de confirmer l'identit&eacute;
de l'ayant-droit.
<br><br>
<b>1.4</b> Concernant la protection des mineurs, Wibbo H&ocirc;tel dispose d'une mod&eacute;ration faite par ses propres joueurs tout comme le sont les jeux en ligne populaires pour adolescents Chapatiz et Blablaland. Cette mod&eacute;ration r&eacute;pond &agrave; des directives claires et pr&eacute;cises: sanctionner toute personne &eacute;tant &agrave; l'encontre de nos conditions d'utilisation.
Wibbo H&ocirc;tel prend tr&egrave;s au s&eacute;rieux la s&eacute;curit&eacute; de ses utilisateurs et s'investit dans la lutte contre les p&eacute;dophiles en surveillant, dans la mesure du possible, les conversations afin de rep&eacute;rer les comportements sensibles.
<br><br>
<b>1.5</b> Toute personne tierce solicit&eacute;e pour le d&eacute;veloppement d'Wibbo H&ocirc;tel et &eacute;ventuellement r&eacute;mun&eacute;r&eacute;e n'est pas n&eacute;cessairement consciente qu'Wibbo H&ocirc;tel utilise les ressources de Sulake Corporation LTD et/ou &eacute;ventuellement de l'ill&eacute;galit&eacute; du site, ses comp&eacute;tences &eacute;tant universelles et ne concernant pas de mani&egrave;re sp&eacute;cifique
la gestion d'un h&ocirc;tel virtuel tel qu'Wibbo H&ocirc;tel. Toute accusation d'association de malfaiteurs serait irrecevable.
<br><br>
<b>1.6</b> Le projet Wibbo H&ocirc;tel n'est qu'une r&eacute;ponse directe &agrave; la prolif&eacute;ration d'h&ocirc;tels alternatifs s'&eacute;tant produite en 2012. Un flou judiciaire demeure sur la masse des h&ocirc;tels alternatifs, aussi appell&eacute;s "r&eacute;tros", et aucune r&eacute;clamation de Sulake Corporation LTD n'a &eacute;t&eacute; faite envers Wibbo H&ocirc;tel, celui-ci consid&eacute;rant que son h&ocirc;tel est donc tol&eacute;r&eacute; des services judiciaires de Sulake Corporation LTD. De m&ecirc;me, aucun autre r&eacute;tro avec lesquels Wibbo H&ocirc;tel ne s'est associ&eacute; n'a fait l'objet d'une plainte.
<br><br>
<b>1.7</b> Tous les concours organis&eacute;s sur Wibbo et faisant remporter &agrave; nos utilisateurs des lots dans la vraie vie <i>(donc badges et mobis exclus)</i> sont soumis &agrave; un r&egrave;glement qui leur est propre et qui est inclus dans chaque article qui annonce un concours via un lien hypertexte. Ce r&egrave;glement, r&eacute;dig&eacute; par l'&eacute;quipe, d&eacute;taille les modalit&eacute;s de participation et celles li&eacute;es &agrave; la r&eacute;c&eacute;ption du lot. Il est important de rappeller que nous demandons syst&eacute;matiquement une photo du lot reçu afin de pouvoir l'int&eacute;grer &agrave; notre <a href="https://www.facebook.com/EquipeWibbo" target="_new">page facebook</a> et ainsi prouver qu'il ne s'agit en aucun cas d'une arnaque.
<br/><br/>
<b>1.8</b> Toutes les musiques pr&eacute;sentes en boutique et soumises &agrave; divers droits d'auteurs ne sont en aucun cas vendues. Seules les "sono", mobilier permettant
de les &eacute;couter, ont &eacute;t&eacute; rendues payantes pour certaines. Nous prenons enti&egrave;rement connaissance des droits d'auteurs des diff&eacute;rents albums disponibles sur Wibbo H&ocirc;tel, n&eacute;anmoins
ceux-ci peuvent &ecirc;tre librement &eacute;cout&eacute;s sur Youtube &agrave; tout instant par un utilisateur. Wibbo H&ocirc;tel se contente de retransmettre la musique, sans jamais l'offrir
en t&eacute;l&eacute;chargement.<br/>
<br/><br/>
<b>2. Règlement d'Wibbo</b>
<br>
<br>
<b>2.1</b> Dès lors que tu entres sur Wibbo Hôtel, tu acceptes de te soumettre à l'entiereté des règles énoncées ici et toutes celles qui s'y rapportent logiquement, même si elles ne sont pas énoncées.
<br>
<br>
<b>2.2</b> L'acte de faire de la publicité sur le client ou en commentaires pour un autre rétro ou parler d'un autre rétro est interdit.
<br>
<br>
<b>2.3</b> Le flood, ou l'envoi de messages incessant dans le but de gêner les autres utilisateurs, que ce soit en murmures ou non, en appart privé ou en appart public n'est pas toléré sur Wibbo Hôtel.
<br/>
<br/>
<b>2.4</b> Le respect entre utilisateurs est de rigueur: tu ne peux pas insulter un autre utilisateur ou le rabaisser de quelque manière que ce soit.
<br/>
<br/>
<b>2.5</b> Le harcèlement décrit selon ce comportement est formellement interdit: diffamer sur une personne <i>(raconter des choses fausses dans le but de lui détruire sa réputation et son image)</i> de façon incessante.
<br/>
<br/>
<b>2.6</b> Les actes de racisme de façon indirecte ou directe sont très sévèrement réprimandés. Wibbo Hôtel ne fait pas l'impasse sur ce genre de comportements et prendra toutes les mesures pour ne pas qu'un joueur puisse se sentir victimisé en raison
de son ethnie, de sa religion. Cette règle s'applique également à l'insulte "sale juif/juive" et tous ses dérivés, qui seront considérées comme un acte odieux de racisme.
<br/>
<br/>
<b>2.7</b> Toute remarque faite sur un élément de l'orientation sexuelle <i>(homophobie)</i> ou du physique d'une personne dans le strict but de la rabaisser sera traitée comme un acte de de harcèlement et sévèrement sanctionné.
<br/>
<br/>
<b>2.8</b> Toutes les activités sexuelles imaginables sur un jeu en ligne sont exclues d'Wibbo Hôtel. Les discussions et comportements de ce type sont interdits, dans le soucis de garantir à nos utilisateurs leur sécurité et écarter les individus suspects
de notre plateforme. Ceci s'applique à la demande de plan cam.
<br/>
<br/>
<b>2.9</b> L'acte de demander, indirectement ou non, des informations privées sur un autre utilisateur est strictement interdit. Dans certains cas, notre filtre pourrait nous rapporter ce genre de comportements et l'exclusion définitive suivi d'un examen
approfondi pourraient être envisagés, dans le but de rapporter d'éventuels pédophiles, bien que ces cas soient rares. Tu ne peux ainsi pas demander: de nom de famille, de téléphone <i>(portable et fixe)</i> et d'adresse, d'informations qui pourraient localiser
précisément une personne et tout ce qui concerne les plannings scolaires. Attention, nous prenons extrêmement au sérieux ces cas; Wibbo Hôtel met tout en oeuvre contre ce genre de problèmes <i>(voir la clause 1.4)</i>.
<br/>
<br/>
<b>2.10</b> Les discussions politiques peuvent être engagées dans la mesure où l'apologie d'un mouvement, parti ou fait historique considéré comme une ignominie <i>(tels que le génocide juif, arménien...) </i>
sera directement considéré comme une dérive et pourra être extrêmement sévèrement sanctionné.
<br/>
<br/>
<b>2.11</b> Toute coopération frauduleuse avec un autre joueur dans le but d'obtenir de façon illégitime un badge ou un rare consituera une violation de nos conditions d'utilisation et entraînera une exclusion conjointe du site.
<br/>
<br/>
<b>2.12</b> Toute tentative de piratage ou piratage direct d'un de nos joueurs est interdit et est défini par l'acte de s'introduire sur un compte et en modifier une information sur la base de données <i>(mission, look, mobi...)</i>. Nous possedons un historique
de chaque connexion sur un compte et nous n'hésiterons pas à mener une enquête approfondie.
<br/>
<br/>
<b>2.13</b> Tout envoi délibérément inutile d'appels à l'aide aux modérateurs est interdit sur Wibbo Hôtel: notre modération est suffisamment surchargée.
<br/>
<br/>
<b>2.14</b> Toute vente de mobilier sur Wibbo en échange d'argent réel sera considérée comme une faute grave et entraînera une exclusion permanente.
<br/>
<br/>
<b>2.15</b> Les comptes clones créés pour abuser seront immédiatement exclus.
<br/><br/><br/>
<b>3. Conditions de vente</b>
<br>
<br/>
<b>3.1</b> Pour effectuer un achat sur notre site il faut que vous soyez majeur, dans le cas contraire veuillez demander l'autorisation à la personne qui paye. Étant donné que les biens sont virtuels et mis à disposition immédiatement, vous renoncez intégralement à votre droit de rétractation légal.
<br>
<br/>
<b>3.2</b> Notre partenaire d'achat est « Rentabiliweb », celui-ci fournit un paiement sécurisé, aussi bien par carte bancaire, téléphone, sms ou autre mode d'achat. En cas de problème de réception du code d'achat ou d'un code invalide à tort nous vous encourageons à contacter directement leur support en <a href="https://www.rentabiliweb.com/fr/contact.php" target="_blank">cliquant ici</a>.
<br>
<br/>
<b>3.3</b> Il se peut que vous puissiez rencontrer un problème lors de votre achat, c'est pour cela qu'il est essentiel de garder le code comme preuve de la transaction.
<br>
<br/>
<b>3.4</b> Les remboursements se font seulement sous forme de bon d'achat et uniquement en cas de problème. Aucun remboursement ne sera effectué en cas d’interruption ou de fermeture déﬁnitive du site Wibbo.
<br>
<br/>
<b>3.5</b> Tous les biens achetés sur Wibbo sont virtuels. Une fois acheté, l'utilisateur en est le seul détenteur et il sera ainsi tenu pour responsable de l'usage qu'il en fait.
<br/><br/>
<br/>Dernière mise à jour le: <b>14 juin 2017</b>
</section>

      <div style="text-align:center;">
      <div class="clear" style="padding-top:30px;"></div>
      <div id="footer">
      <p><a href="{{config.url}}/support" target="_self">Aide - Contact</a> / <a href="{{config.url}}/disclaimer" target="_self">Conditions d'Utilisation</a> / <a href="{{config.url}}/community" target="_self">Communauté</a> / <a href="/" target="_self">{{ config.name }}</a></p>
      <p class="copyright">
      © 2011-2017 {{ config.name }} Hôtel.<br/>
      {{ config.name }} est un projet indépendant, à but non lucratif.<br/>
      </div>
      </div>
    </div>
  </div>
  </body>
</html>